# Importar librerias

In [1]:
import pandas as pd

In [2]:
import time

In [3]:
from bs4 import BeautifulSoup

In [4]:
 import requests

In [5]:
from tqdm.notebook import tqdm

# Definir funciones

In [6]:
def get_data(d,m,y): # input day,month,year in String format and returns the server response 
    global soup
    url = "https://rto.cent.gov.ar/rto/RTO/generarPlanillaDiaria"
    payload = "fechaConsulta="+d+"%2F"+m+"%2F"+y+"&agruparPorLinea=NO&idTaller="
    headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:108.0) Gecko/20100101 Firefox/108.0",
        "Accept": "text/javascript, text/html, application/xml, text/xml, */*",
        "Accept-Language": "es-AR,es;q=0.8,en-US;q=0.5,en;q=0.3",
        "Accept-Encoding": "gzip, deflate, br",
        "X-Requested-With": "XMLHttpRequest",
        "X-Prototype-Version": "1.6.1",
        "Content-type": "application/x-www-form-urlencoded; charset=UTF-8",
        "Origin": "https://rto.cent.gov.ar",
        "Connection": "keep-alive",
        "Referer": "https://rto.cent.gov.ar/rto/RTO/planillaDiaria",
        "Cookie": cookie,
        "Sec-Fetch-Dest": "empty",
        "Sec-Fetch-Mode": "cors",
        "Sec-Fetch-Site": "same-origin"
    }

    response = requests.request("POST", url, data=payload, headers=headers)
    soup=BeautifulSoup(response.text,'lxml')
    #time.sleep(0.5)
    return(soup)

In [7]:
def clean_rows():# returns a list of values: datos
        tags_datos=soup.select('td') #data is inside the tag td
        global datos
        datos=[] 
        for data in tags_datos:
            datos.append(data.get_text(strip=True)) #make a list with the values 
        return(datos)

In [8]:
def clean_columns():# returns a list of values: labels
    tags_labels=soup.select('th')
    global labels
    labels=[]
    for label in tags_labels:
        labels.append(label.get_text(strip=True)) #get list names  a list with the labels
    return(labels)

In [9]:
def create_df():# returns a dataframe df 
    global df
    df=pd.DataFrame()
    num_col=int(14)
    num_row=int(len(datos)/num_col)
    rows=[]
    for j in range(0,num_row,1):
        row=[]
        for i in range(0,num_col,1):
            index=i+(14*j)
            row.append(datos[index])
        rows.append(row)
    #print(rows)    
    df=pd.DataFrame(rows,columns=labels)
    return(df)

In [10]:

def add_date_col(d,m,y): # adds static date column to the dataframe , input is d,m,y in STRING 
    global df
    df.insert(0,'Fecha',d+'/'+m+'/'+y)
    return(df)

def add_date_col_old(d,m,y): # adds static date column to the dataframe 
    global df
    df.insert(0,'Fecha',str(d)+'/'+str(m)+'/'+str(y))
    return(df)

In [11]:
def get_dates(s,e): # takes in a start and end string date in yyyy/mm/dd  format and returns a list of list of dates in string format 
    global dates_str
    dates=pd.date_range(start=s,end=e,freq='d')
    dates_str=[]
    date_str=[]
    for date in dates:
        year= str(date.year)
        if date.month<10:
            month='0'+str(date.month)
        else:
            month=str(date.month)
        if date.day<10:
            day='0'+str(date.day)
        else:
            day=str(date.day)
        date_str=[day,month,year]
        dates_str.append(date_str)
    return(dates_str)

In [12]:
def to_csv():
    file_name=start_date.replace('/','.')+'-'+end_date.replace('/','.')
    df_tot.to_csv(file_name)

In [17]:
def scrape(s,e): #  takes in a start and end string date in yyyy/mm/dd  format
    global df_tot
    global list_of_df
    df_tot=pd.DataFrame()
    list_of_df=[]
    get_dates(s,e) # returns a list of a list of dates in var dates_str
    for date in tqdm(dates_str):
        d=date[0]
        m=date[1]
        y=date[2]
        get_data(d,m,y)#returns soup
        clean_rows()#returns list of values
        create_df()#returns dataframe df 
        add_date_col(d,m,y)# adds date col to dataframe df 
        list_of_df.append(df) #adds current dataframe df to a list
    df_tot=pd.concat(list_of_df,ignore_index=True) # after all the dataframes are put into the list , unions all
   # df_tot['Fecha']=df_tot['Fecha'].astype('M')#sets Fecha column to datetime datatype
    df_tot.set_index('Planilla',inplace=True) #sets nro planilla(is unique) as index 
    return(df_tot['Fecha'].nunique()) # returns number of distinct dates with data

# Nombre de Columnas

In [18]:
labels=['Inicio',
 'hora_Resultado',
 'Fin',
 'Tipo',
 'Uso',
 'Categoría',
 'Planilla',
 'Certificado',
 'Vence',
 'Dominio',
 'Resultado',
 'CUIT',
 'Razón Social',
 'Línea']

# Actualizar cookie

In [19]:
cookie="JSESSIONID=F21BA00B7E7B91E8D0B22F5445FB3362"

# Definir Fecha de inicio y Final

In [64]:
FORMATO='YYYY/M/D'
start_date='2022/1/1'
end_date='2022/12/31'

# Obtener Datos

In [68]:
scrape(start_date,end_date)

  0%|          | 0/365 [00:00<?, ?it/s]

294

# Verificar datos obtenidos

In [70]:
pd.set_option('display.max_rows',None)
df_tot.head(10)

,Fecha,Inicio,hora_Resultado,Fin,Tipo,Uso,Categoría,Certificado,Vence,Dominio,Resultado,CUIT,Razón Social,Línea
Planilla,,,,,,,,,,,,,,
1153444,03/01/2022,07:37,08:03,08:03,P,X,UP,,03/03/2022,GXW345,Condicional,22882762,"LUQUE, ADAN PAULINO",2
1153445,03/01/2022,07:38,08:02,08:02,L,P,M1,A 847051,03/07/2022,AC619BK,Apto,20175964011,RASTELLINI CARLOS NORBERTO,1
1153446,03/01/2022,07:42,08:13,08:29,P,X,UP,E 713352,03/01/2024,AA430OE,Apto,10674534,"GONZALEZ, LUIS OSCAR",2
1153447,03/01/2022,08:01,08:12,08:29,P,X,UP,E 713351,03/01/2023,LTR244,Apto,18493894,"GIMENEZ, DORA GLADYS",1
1153448,03/01/2022,08:10,08:34,09:02,P,X,UP,E 713353,03/01/2024,AB588SJ,Apto,93895107,"RIVAS, CLEMENTE",2
1153449,03/01/2022,08:10,08:35,09:01,P,X,UP,E 713354,03/01/2024,AA789XP,Apto,22330834,"MUGGLI, MARIO EDUARDO",1
1153450,03/01/2022,08:31,09:08,09:09,P,X,UP,E 713355,03/01/2023,GKJ228,Apto,22687402,"ZACK, LUISA CRISTINA",2
1153451,03/01/2022,08:31,09:32,09:50,G,C,O4,S 452102,03/07/2022,FHK814,Apto,30686045478,GAS ARGENTINO S.R.L.,2
1153452,03/01/2022,08:36,09:17,09:17,P,X,UP,E 713356,03/01/2023,EPJ244,Apto,16368351,"MEDINA, MARIO RAMON",1
1153453,03/01/2022,08:49,09:21,09:21,G,C,N1,S 452101,03/01/2023,LAN161*,Apto,27372626041,POBEREZNY SABRINA VIVIANA,2

In [71]:
df_tot[df_tot['Resultado']=='Apto']['Dominio'].nunique()

18853

# Escribir datos a csv

In [72]:
to_csv()